/* adress */
.adress {
    margin-top: 20px;
    margin-bottom: 60px;  

   @include fonts(null, 14px, 1.71, 0.03em);
    font-style: normal;
    @media screen and (min-width: 1200px) {
               margin-right: 70px;
            margin-bottom: 0;
        }
   
}

.adress__text {
    color: var(--accent-test-color);
}

.adress__link {
    display: block;
    margin-top: 9px;
    color: var(--adress-color);
    text-decoration: none;
}
       
