/* contacts */
.contact-list {
    display: none;
    @media screen and (min-width: 768px) {
            display: block;
            margin-left: 84px;
        }
                 @media screen and (min-width: 1200px) {
                     display: flex;
                     justify-content: flex-end;
                     align-items: center;
                     margin-left: auto;
                 }

}

.contact-list__links {
    
    align-items: center;
    color: var(--title-text-color);
    @include fonts(500, 12px, 1.14, 0.02em);
    text-decoration: none;
    color: var(--primery-text-color);
    transition: color var(--transform);

    &:hover,
        &:focus {
            color: var(--accent-color);
    
        }
                 @media screen and (min-width: 768px) {
                    display: block;
                     font-size: 12px;
                 }
                @media screen and (min-width: 1200px) {
                    display: flex;
                    padding-top: 32px;
                    padding-bottom: 32px;
                    font-size: 14px;
                }
                
}

.contact-list__item:not(:first-child) {
    margin-left: 50px;
}


.contact-list__icon {
    margin-right: 10px;
    fill: var(--icon-orignal-color);
    transition: fill var(--transform);

    .contact-list__links:hover &,
        .contact-list__links:focus & {
            fill: var(--accent-color);
        }
}

