 /* footer form */
 .form {
     display: block;
     margin-left: auto;
 }

 .form__text {
     margin-bottom: 20px;
     padding-bottom: 0px;
    @include fonts(700, 14px, 1.14, 0.03em);
     text-transform: uppercase;

     color: var(--accent-test-color);
 }

 .form-group {
     display: flex;

 }

 .form-group__imput {
     margin-right: 12px;
     padding: 15px 16px;
     width: 358px;
     border: none;
    @include fonts(null, 16px, 1.25, 0.03em);
     color: var(--adress-color);
     outline: 1px solid rgba(255, 255, 255, 0.3);
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
     border-radius: 4px;
     background-color: var(--footer-backgound-color);
 }

 .form-group__btn {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px 29px;
    
 }


 .form-group__icon {
     margin-left: 10px;
     fill: var(--accent-test-color);
 }