.logo {
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: var(--font-family-logo);
    @include fonts(700, 24px, 1.16, 0.03em);
    @media screen and (min-width: 768px) {
            padding-top: 26px;
            padding-bottom: 26px;
        }
    
    text-decoration: none;
    color: var(--accent-color);
    @media screen and (min-width: 1200px) {
      @include fonts(700, 26px, 1.2, 0.03em);
          padding-top: 26px;
          padding-bottom: 26px;
    }
    }
 


.logo__text {
    color: var(--heder-logo-color);
    &--footer {
            color: var(--accent-test-color);
        }
}


