/* герой */
.hero {
    text-align: center;
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--hero-background-color);
    background-image:
        linear-gradient(var(--gradient-color),
            var(--gradient-color)),
        url(../images/hero/Img-hero.jpg);
    background-position: center;
    background-size: cover;
@media screen and (max-width: 1199px) {
        display: none;

    }
}

.hero-title {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    @include fonts(900, 44px, 1.36, 0.06em);
    text-transform: uppercase;
    color: var(--accent-test-color);
    
}
.hero-button {

    padding: 10px 32px;
    
}